version: '{build}'
os: 
  - Windows Server 2012
  - ubuntu
install:
  - cmd: java -version
  - sh: sudo apt-get update
  - sh: sudo apt-get install icedtea-netx -y
  - sh: sudo cp /usr/share/icedtea-web/netx.jar /usr/lib/jvm/java-9-openjdk-amd64/lib/
  - sh: sudo /usr/lib/jvm/java-9-openjdk-amd64/lib/netx.jar /usr/lib/jvm/java-9-openjdk-amd64/lib/javaws.jar
before_build:
  - cd nullpomino-parent
build_script:
  - mvn install
